<h1 class="text-center h3 py-2 fw-bolder">UNAPPROVED CLEARING AGENTS</h1>
<div class="table-responsive py-1">
    <table class="table">
        <thead class="table-secondary text-center">
            <tr>
                <th scope="col" class="h3 ">NAME</th>
                <th scope="col" class="h3">COMPANY</th>
                <th scope="col" class="h3">CONTACT</th>
                <th scope="col" class="h3">STATUS</th>
            </tr>
        </thead>

        {{#each agents}}
        <tbody>
            <tr class="text-center">
                <td scope="row">{{name}}</td>
                <td>{{company}}</td>
                <td>{{contact}}</td>
                <td>
                    <a class="btn btn-info text-white" href="/approve/{{_id}}">APPROVE</a>
                    
                </td>
            </tr>
            
        </tbody>
        {{/each}}
    </table>
</div>