<h1 class="text-center h3 py-2 fw-bolder">EXPORTERS</h1>
 
<div class="table-responsive py-3">
    <table class="table">
        <thead class="table-secondary text-center">
            <tr>
                <th scope="col" class="h3">COMPANY NAME</th>
                <th scope="col" class="h3">CONTACT</th>
                <th scope="col" class="h3">ADDRESS</th>
                <th scope="col" class="h3">STATUS</th>
            </tr>
        </thead>

        {{#each exporter}}
        <tbody>
            <tr class="text-center">
                <td scope="row">{{company_name}}</td>
                <td scope="row">{{contact}}</td>
                <td scope="row">{{address}}</td>
                <td>
                    <a class="btn btn-info text-white" href="/admin/approve_exporter/{{_id}}">APPROVE</a>
                </td>
            </tr>
            
        </tbody>
        {{/each}}
    </table>
</div>