
<div class="card text-center">
  <div class="card-body">

    <table class="table">

  <tbody class="text-center">
    <tr>
      <th class="bg-light text-center">AGENT NAME</th>
      <td>
            <p class="fw-bold mb-1">{{agent.name}}</p>
      </td></tr>
  <tr>
      <th class="bg-light text-center">AGENT COMPANY</th>
      <td>
        <p class="fw-normal mb-1">{{agent.company}}</p>
      </td>
      </tr>
      <tr>
      <th class="bg-light text-center">CONTACT</th>
      <td>
        <p class="fw-normal mb-1">{{agent.contact}}</p>
      </td>
      </tr>

<tr>
      <th class="bg-light text-center">ADDRESS</th>
      <td>
        <p class="fw-normal mb-1">{{agent.address}}</p>
      </td>
      </tr>
    
  </tbody>
</table>
    
  </div>
</div>
<div class="py-2">
<a class="btn btn-info text-white" href="/">Back</a>
</div>