<h1>exporters with less quantity</h1>
 
<div class="table-responsive py-3">
    <table class="table table-primary">
        <thead>
            <tr>
                <th scope="col">Product Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Contact</th>
            </tr>
        </thead>

        {{#each products}}
        <tbody>
            <tr class="">
                <td scope="row">{{name}}</td>
                <td scope="row">{{quantity}}</td>
                <td>
                    <a href="/less/{{_id}}">VIEW CONTACT</a>
                </td>
            </tr>
            
        </tbody>
        {{/each}}
    </table>
</div>


<!-- Modal trigger button -->
<button type="button" class="btn btn-primary btn-md py-3" data-bs-toggle="modal" data-bs-target="#modalId">
  ADD INFORMATION
</button>

<!-- Modal Body -->
<!-- if you want to close by clicking outside the modal, delete the last endpoint:data-bs-backdrop and data-bs-keyboard -->
<div class="modal fade" id="modalId" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitleId">ADD EXPORTERS WITH LESS QUANTITY</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="row g-3 needs-validation" novalidate method="POST" action="/less">
                    <input type="text" hidden value="less" name="quantity_type"/>
                  <div class="col-md-12">
                    <label for="validationCustom01" class="form-label">Product Name</label>
                    <input type="text" class="form-control" id="validationCustom01" name="name" required>
                    <div class="valid-feedback">
                      Looks good!
                    </div>
                  </div>
                  <div class="col-md-12">
                    <label for="validationCustom03" class="form-label">LESS BY</label>
                    <input type="text" class="form-control" id="validationCustom03"  name="quantity" required>
                    <div class="invalid-feedback">
                      Please provide a valid company name
                    </div>
                  </div>

                  <div class="col-md-12">
                    <label for="validationCustom03" class="form-label">CONTACT</label>
                    <input type="text" class="form-control" id="validationCustom03"  name="contact" required>
                    <div class="invalid-feedback">
                      Please provide a valid company name
                    </div>
                  </div>
                  <div class="col-12">
                    <button class="btn btn-primary" type="submit">Submit form</button>
                  </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- Optional: Place to the bottom of scripts -->
<script>
    const myModal = new bootstrap.Modal(document.getElementById('modalId'), options)

</script>