<div class="container">
  <div class="row py-2">
    <div class="col">
       <div class="card">
      <div class="card-body text-center">
       <a class="btn btn-outline-primary  btn-block" href="/product/avocados" role="button">AVOCADO</a>
      </div>
    </div>
    </div>

    <div class="col ">
       <div class="card">
      <div class="card-body text-center">
       <a class="btn btn-outline-primary  btn-block" href="#" role="button">GINGER</a>
      </div>
    </div>
    </div>


    <div class="col py-2">
       <div class="card">
      <div class="card-body text-center">
       <a class="btn btn-outline-primary  btn-block" href="#" role="button">BANANA</a>
      </div>
    </div>
    </div>
  </div>

  <div class="row py-2">
    <div class="col">
       <div class="card">
      <div class="card-body text-center">
       <a class="btn btn-outline-primary  btn-block" href="#" role="button">PINEAPPLE</a>
      </div>
    </div>
    </div>

    <div class="col">
       <div class="card">
      <div class="card-body text-center">
       <a class="btn btn-outline-primary  btn-block" href="#" role="button">MANGOES</a>
      </div>
    </div>
    </div>
  </div>


  <div class="col py-2">
       <div class="card">
      <div class="card-body text-center">
       <a class="btn btn-outline-primary  btn-block" href="#" role="button">SWEET POTATO</a>
      </div>
    </div>
    </div>
</div>