<h1 class="text-center h3 py-2 fw-bolder">confirmed space with AWB</h1>
 
<div class="table-responsive py-3">
    <table class="table">
        <thead class="table-secondary text-center">
            <tr>
                <th scope="col" class="h3">DESTINATION</th>
                <th scope="col" class="h3">AIRLINE</th>
                <th scope="col" class="h3"> DATE</th>
                <th scope="col" class="h3">WEIGHT </th>
                 <th scope="col" class="h3">CONTACT</th>
            </tr>
        </thead>

        {{#each spaces}}
        <tbody>
            <tr class="text-center">
                <td scope="row">{{destination}}</td>
                <td scope="row">{{airline}}</td>
                <td scope="row">{{departure_date}}</td>
                <td scope="row">{{weight}}</td>
                <td>
                    <a class="btn btn-info text-white" href="/payment">PAY TO VIEW CONTACT</a>
                </td>
            </tr>
            
        </tbody>
        {{/each}}
    </table>
</div>


<!-- Modal trigger button -->
<div class="float-md-right"> 
<button type="button" class="btn btn-primary btn-md py-3" data-bs-toggle="modal" data-bs-target="#modalId">
  ADD INFORMATION
</button>
<a href="/spaces" type="button" class="btn btn-primary btn-md py-2">
  BACK
</a>
</div>
<!-- Modal Body -->
<!-- if you want to close by clicking outside the modal, delete the last endpoint:data-bs-backdrop and data-bs-keyboard -->
<div class="modal fade" id="modalId" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitleId">ADD CONFIRMED SPACE WITH AWB</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="row g-3 needs-validation" novalidate method="POST" action="/space">
                    
                  <div class="col-md-12">
                    <label for="validationCustom01" class="form-label">Destination</label>
                    <input type="text" class="form-control" id="validationCustom01" name="destination" required>
                    <div class="valid-feedback">
                      Looks good!
                    </div>
                  </div>
                  <div class="col-md-12">
                    <label for="validationCustom03" class="form-label">Airline</label>
                    <input type="text" class="form-control" id="validationCustom03"  name="airline" required>
                    <div class="invalid-feedback">
                      Please provide a valid company name
                    </div>
                  </div>
                    <div class="col-md-12">
                    <label for="validationCustom03" class="form-label">Departure Date</label>
                    <input type="date" class="form-control" id="validationCustom03"  name="departure_date" required>
                    <div class="invalid-feedback">
                      Please provide a valid company name
                    </div>
                  </div>
                  <div class="col-md-12">
                    <label for="validationCustom03" class="form-label">Weight</label>
                    <input type="text" class="form-control" id="validationCustom03"  name="weight" required>
                    <div class="invalid-feedback">
                      Please provide a valid company name
                    </div>
                  </div>
                    <div class="col-md-12">
                    <label for="validationCustom03" class="form-label">Contact</label>
                    <input type="text" class="form-control" id="validationCustom03"  name="contact" required>
                    <div class="invalid-feedback">
                      Please provide a valid company name
                    </div>
                  </div>
                  <div class="col-12">
                    <button class="btn btn-primary" type="submit">Submit form</button>
                  </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- Optional: Place to the bottom of scripts -->
<script>
    const myModal = new bootstrap.Modal(document.getElementById('modalId'), options)

</script>