{{#if agents}}
<h1 class="text-center h3 py-2 fw-bolder">FLIGHT AGENTS</h1>
 
<div class="table-responsive py-3">
    <table class="table">
        <thead class="table-secondary text-center">
            <tr>
                <th scope="col" class="h4 ">Name</th>
                <th scope="col" class="h4 ">Company</th>
                <th scope="col" class="h4 ">Contact</th>
            </tr>
        </thead>

        {{#each agents}}
        <tbody>
            <tr class="text-center">
                <td scope="row">{{name}}</td>
                <td>{{company}}</td>
                <td>
                    <a class="btn btn-warning btn-sm text-white" href="/payment/flight_payment"><span style="font-size: 13px ;">PAY <em>1K</em> TO VIEW CONTACT</span></a>
                </td>
            </tr>
            
        </tbody>
        {{/each}}
    </table>
</div>
{{else}}
<div class="container py-3">
  <h3 class="h3 text-center">No information approved yet</h3>
</div>
{{/if}}
<div class="float-md-right"> 
<!-- Modal trigger button -->
<button type="button"class="btn btn-primary btn-sm py-2 align-right" data-bs-toggle="modal" data-bs-target="#modalId">
  ADD INFORMATION
</button>
<a href="/"  class="btn  btn-sm py-2 align-right text-white" style="background-color: black;">
  BACK
</a>
</div>

<!-- Modal Body -->
<!-- if you want to close by clicking outside the modal, delete the last endpoint:data-bs-backdrop and data-bs-keyboard -->
<div class="modal fade" id="modalId" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitleId">ADD FLIGHT AGENT</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="row g-3 needs-validation" novalidate method="POST" action="/flight">
                    <input type="text" hidden value="flight" name="agent_type"/>
                  <div class="col-md-12">
                    <label for="validationCustom01" class="form-label">NAME</label>
                    <input type="text" class="form-control" id="validationCustom01" name="name" required>
                    <div class="valid-feedback">
                      Looks good!
                    </div>
                  </div>
                  <div class="col-md-12">
                    <label for="validationCustom03" class="form-label">COMPANY</label>
                    <input type="text" class="form-control" id="validationCustom03"  name="company" required>
                    <div class="invalid-feedback">
                      Please provide a valid company name
                    </div>
                  </div>
                 
                  
                  <div class="col-12">
                    <div class="input-group">
                        <span class="input-group-text">Phone and Address</span>
                        <input type="text" aria-label=" phone" name="contact" class="form-control">
                        <input type="text" aria-label="address" name="address" class="form-control">
                   </div>
                  </div>
                  <div class="col-12">
                    <button class="btn btn-primary" type="submit">Submit form</button>
                  </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- Optional: Place to the bottom of scripts -->
<script>
    const myModal = new bootstrap.Modal(document.getElementById('modalId'), options)

</script>