

<div class="card" style="width: 18rem;">
  <ul class="list-group list-group-light">
    <li class="list-group-item px-3">{{spaces.country}}</li>
    <li class="list-group-item px-3">{{spaces.airline}}</li>
    <li class="list-group-item px-3">{{spaces.departure_date}}</li>
  </ul>
</div>
<a href="/space">Back</a>