
<div class="card text-center">
  <div class="card-body">

    <table class="table">

  <tbody class="text-center">
    <tr>
      <th class="bg-light text-center">COMPANY NAME</th>
      <td>
            <p class="fw-bold mb-1">{{exporter.company_name}}</p>
      </td></tr>
  <tr>
      <th class="bg-light text-center">CONTACT</th>
      <td>
        <p class="fw-normal mb-1">{{exporter.contact}}</p>
      </td>
      </tr>

<tr>
      <th class="bg-light text-center">ADDRESS</th>
      <td>
        <p class="fw-normal mb-1">{{exporter.address}}</p>
      </td>
      </tr>
    
  </tbody>
</table>
    
  </div>
</div>
<div class="py-2">
<a class="btn btn-info text-white" href="/exporters">Back</a>
</div>
